*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    
    margin: 0;
}
img{
    width: 100px;
    height: 100px;
}
h2{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
p{
    font-size: 1.3rem;
    text-align: justify;

}
.dotted{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 100px;
}
[class*="col-"]{
    float: left;
     padding: 10px;
}
/* for mobile*/
[class*="col-"]{

       width:100%;


}
/*navbar star here*/
.navbar{
    background-color: cornflowerblue;
    padding: 2% 9%;
    text-align: center;
}

.navbar h2{
    color: white;
    margin: 0;
    padding-top:10px;

}
.menu{
    display: flex;
    flex-direction: column;text-transform: uppercase;

}

.menu a{
    background-color:rgb(38, 107, 235);
    border-radius: 13px;
    
    margin:7px ;
    padding: 10px;
}
.menu a:hover{

    background-color: gray;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/*navbar ends here*/

/*profile disgine*/

.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}
    
   .profile .top-icon{
       position: absolute;
       width: 180px;
       right: 60px;
       top: 30px;
       transition: transform 2s;


   }
   .profile .top-icon:hover{
       transform: rotate(360deg);
   }




.dec h2{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}
.dec p{
    color: gray;

    margin: 0 auto 40px auto;
    text-align: center;
    width: 100%;
}


.profile .bottom-icon{
    position: absolute;
    width: 180px;

    left: 60px;
    bottom: 30px;
    transition: transform 2s;

}

.profile .bottom-icon:hover{
transform: rotate(360deg);

}

.profile::after{
    content: '';
    display: table;
    clear: both;
}

/*profile disgine*/

/*about */
.about{
    background-color: #39a4a6;
    padding: 1% 7%;
    color:white;
    font-family: 'Montserrat', sans-serif; 
}
.imagecv img{
    border: 5px solid white;
    border-radius: 50%;
    
    height: 220px;
    width: 200px;
    
}
.about p{
    text-align: center;
}
.about a{
    font-size: 1rem;
}
.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;



}

.about::after{
    clear: both;
    display:table ;
    content: '';
}

/*about end*/ 
/*professional style*/
.professional{
    padding: 1% 0%;
}
  .professional .card{
      background-color: gray;
      border-radius: 5px;
      padding: 10px;
      transition: o.3s;
      /*height: 650px;*/

}
.card:hover{
    box-shadow:  0 4px 8px 5px black;

}
.card-icon{
    text-align: center;

}
.card-icon img{
    margin-top: 20px;
    width:100px;
}
.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding:15px ;
}
.card h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}


.skill-con{
    padding-right: 45px;
}

.skill-con li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;

}
.skill-con li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(86,86,153,.5);
    border-radius: 1000px;

}

.skill-con li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgba(24, 204, 63, 0.5);
    border-radius: 1000px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;


}
.skill-con li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 80%;
    }
}












.professional::after{
    clear: both;
    display: table;
    content: '';
}


/*professional style*/
/*achievement style*/

.achiv{
    padding: 1% 7%;
    background-color: #39a4ac;
    color: white;
}
.contact{
   text-align: center;
}
.contact input, textarea{
    width: 100%;
    padding: 10px;
   font-size: 1rem;
   text-align: center;
   border: none;
   border-radius: 5px;
   resize: none;
}
.contact button{
    border: none;
    border-radius: 12px;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;

}
.contact-skill{
    text-align: center;
}
.media-button .bt{
           border: none;
           border-radius: 25px;
           cursor: pointer;
           font-size: 35px;
           padding: 5px;
           margin: 10px;
           width: 50px;

           
}
.bt:hover{
    background-color: gray;
}


.achiv::after{
    clear: both;
    display: table;
    content: '';
}

/*footer style*/
.footer{
    background-color:black ;
    color:white;
    padding: 20px;
    text-align: center;
    font-size: 1rem;

}

.footer-menu a{
    display: block;
    margin: 15px 0;
    font-size: 1.3rem;
}
.footer-menu a:hover{
    color: gray;
}
.footer::after{
    display: table;
    clear: both;
    content: '';
}